* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #F0FDF4;
}
.cabecalho{
    position: absolute;
    background: linear-gradient(to right, #16A34A, #EAB308, #DC2626);
      height: 48px;
      width: 100%;
      position: fixed;
}
.cabecalho label{
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: bold;
    top: -19px;
    left: 290px;
}
.seta img{
    position: relative;
    height: 25px;
    width: 25px;
    filter: brightness(0) invert(1);
    left: 200px;
    top: 10px;
}
.seta button{
    background: none;
    border: none;
    cursor: pointer;
}
.bagulhovermelho{
    position: absolute;
    top: 6px;
    left: 240px;
}
.bagulhovermelho img{
    height: 35px;
    width: 35px;
}
.add button{
    position: absolute;
    background: linear-gradient(#DC2626, #B91C1C);
    color: white;
    border: none;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 8px;
    top: 8px;
    right: 200px;
    font-weight: bold;
}
.add button a{
    text-decoration: none;
    color: white;
}
.container1{
  position: absolute;
  display: grid; /* ativa o grid */
  grid-template-columns: repeat(4, 1fr); /* 4 colunas iguais */
  gap: 10px; /* espaço entre as caixas */
    left: 178px;
  top: 170px;
  
}
.ttlprdt{
    border: #FACC15 1px solid;
    width: 240px;
    height: 80px;
    border-radius: 8px;
    background-color:  white;

    display: flex;
    flex-direction: column;
}

.ttlprdt > label{
    color: #16A34A;
    font-weight: bold;
      margin-bottom: 5px; /* espaço entre label e conteúdo */
      margin-top: 5px;
      margin-left: 10px;
}
.nttlprdt h2{
    color: red;
    margin-top: 5px;
    margin-left: 55px;
    font-weight: bold;
}


.ttlusers{
    border: #FACC15 1px solid;
    width: 240px;
    height: 80px;
    position: relative;
    border-radius: 8px;
    background-color:  white;

    display: flex;
    flex-direction: column;
}

.ttlusers > label{
    color: #16A34A;
    font-weight: bold;
      margin-bottom: 5px; /* espaço entre label e conteúdo */
      margin-top: 5px;
      margin-left: 10px;
}
.nttlusers h2{
    color: red;
    margin-top: 5px;
    margin-left: 55px;
    font-weight: bold;
}

.ttlpdd{
    border: #FACC15 1px solid;
    width: 240px;
    height: 80px;
    position: relative;
    border-radius: 8px;
    background-color:  white;

        display: flex;
    flex-direction: column;
}

.ttlpdd > label{
    color: #16A34A;
    font-weight: bold;
      margin-bottom: 5px; /* espaço entre label e conteúdo */
      margin-top: 5px;
      margin-left: 10px;
}
.nttlpdd h2{
    color: red;
    margin-top: 5px;
    margin-left: 55px;
    font-weight: bold;
}

.receitattl{
    border: #FACC15 1px solid;
    width: 240px;
    height: 80px;
    position: relative;
    border-radius: 8px;
    background-color:  white;

            display: flex;
    flex-direction: column;
}

.receitattl > label{
    color: #16A34A;
    font-weight: bold;
      margin-bottom: 5px; /* espaço entre label e conteúdo */
      margin-top: 5px;
      margin-left: 10px;
}
.nreceitattl h2{
    color: red;
    margin-top: 5px;
    margin-left: 55px;
    font-weight: bold;
}

.container2{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    left: 176px;
    top: 262px;
}
.container2 h3{
    color: #166534;
        font-weight: bold;
      margin-bottom: 5px; /* espaço entre label e conteúdo */
      margin-top: 7px;
      margin-left: 10px;

}
.acrapidas{
    border: #FACC15 1px solid;
    width: 495px;
    height: 215px;
    position: relative;
    border-radius: 8px;
    background-color:  white;
}
.acgrid{
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 12px;  
}

.acitem {

    border-radius: 8px;
    border: 2px solid #86EFAC;
    height: 70px;
    justify-content: center;
    padding-left: 30%;
}
.acitem h4{
    margin-top: 10%;
    color: #166534;
}
.acitem label{
    color: #16A34A;
    font-size: 13px;
}
.pddrecentes{
    border: #FACC15 1px solid;
    width: 495px;
    height: 215px;
    position: relative;
    border-radius: 8px;
    background-color:  white;
}
.performace{
    position: absolute;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    justify-items: center;
    text-align: center;
    border: #BBF7D0 1px solid;
    top: 490px;
    left: 176px;
    width: 1005px;
    height: 195px;
}
.crescimento{}
.estoque{}
.receita{}