body {
    background: #dbf4ca;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    width: 95%;
    padding: 25px;
}

/*Cabeçalho*/
.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: linear-gradient(to right, #16A34A, #EAB308, #DC2626);
    padding: 5px;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.LogoPag {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.cabeçalho h1 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

/*Seta de navegação*/
.SetaPag {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
    display: inline-block;
    transform-origin: center center;
}

.SetaPag:hover {
    transform: scale(1.3);
    z-index: 10;
}

.SetaPag:active {
    transform: scale(0.92);
}

/*Caixa de Mensagem*/
.Lembrete {
    background: #f0ff91;
    border-left: 6px solid #ffee54;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.Lembrete p {
    color: #568A35;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4;
}

/*tabela*/
table {
    width: 100%;
    border-spacing: 0;
    margin-top: 15px;
    border: 1px solid #EAB308;
}

thead tr {
    background: linear-gradient(to right, #16A34A, #EAB308, #DC2626);
    color: white;
    text-align: center;
}

thead th {
    padding: 12px 15px;
    font-size: 15px;
}

/*campos*/
tbody tr {
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
    transition: 0.2s;
}

tbody td {
    padding: 12px;
    font-size: 12px;
    color: #333;
    border-top: 2px solid #EAB308;
    border-bottom: 2px solid #EAB308;
}

/*editar e excluir*/
.acoes {
    display: flex;
    gap: 10px;
}

.editar,
.excluir {
    padding: 7px 12px;
    border-radius: 6px;
    font-size: 13px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.icons img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

button.editar,
button.excluir {
    all: unset;
    cursor: pointer;
}

.editar:hover {
    transform: scale(1.3);
    z-index: 10;
}

.editar:active {
    transform: scale(0.92);
}

.excluir:hover {
    transform: scale(1.3);
    z-index: 10;
}

.excluir:active {
    transform: scale(0.92);
}

/*trocar página*/
.paginacao {
    margin-top: 25px;
    text-align: center;
}

.paginacao a {
    background: #ffffff;
    padding: 5px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 6px;
    color: #1b681c;
    border: 1px solid #EAB308;
    transition: 0.2s;
}

.paginacao a:hover {
    background: #8deaa2;
}