/* === Reset inicial === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* === Corpo principal === */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

/* === Logo === */
.brand-header {
    position: absolute;
    top: -67px;
    /* ajusta a posição pra cima */
    left: 50%;
    transform: translateX(-50%);

    width: 530px;
    /* aumenta a largura */
    height: 180px;
    /* diminui a altura pra ficar mais achatado */

    background-color: rgb(43, 85, 64);
    border-radius: 200px;
    /* bordas mais ovais */

    display: flex;
    justify-content: center;
    /* centraliza o texto verticalmente */

    font-family: 'Aclonica', sans-serif;

    font-size: 56px;

    /* borda amarela dourada */
    border: 4px solid rgba(255, 223, 142, 1);
    box-shadow: rgba(0, 0, 0, 0.473) 0px 1px 2px;
    padding-top: 70px;
}



.brand {
    display: flex;
    align-items: center;
    font-family: 'Aclonica', sans-serif;
    font-weight: 800;
    font-size: 70px;
    line-height: 1;
    letter-spacing: 1px;
    user-select: none;
}


/* cores conforme a imagem */
.brand-green {
    color: rgba(86, 138, 53, 1);
    text-shadow: 2px -3px 0px rgba(69, 100, 50, 0.733);
}

/* parte "Sid" */
.brand-apos {
    color: rgba(255, 184, 0, 1);
    font-size: 0.85em;
    text-shadow: 2px -3px 0px rgba(172, 132, 31, 0.719);
}

/* o 's amarelo */
.brand-red {
    color: rgba(183, 48, 35, 1);
    text-shadow: 2px -3px 0px rgba(146, 46, 37, 0.705);
}

/* parte "Mart" */

.form-wrapper {
    text-align: center;
    padding: 20px 0;
}

.container {
    height: 550px;
    margin-top: 30px;
    padding-top: 70px;
    width: 900px;
    background: #D4E4CA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 4px solid rgb(255, 255, 255);
}

.titulo {
    font-family: 'Aoboshi One', sans-serif;
    font-weight: 400;
    font-size: 56px;
    color: #093A21;
}


.grid-2col input {
    width: 75%; /* ajusta a largura dentro do container */
    height: 70px;
    margin-top: 40px;
     padding: 0 15px;

    background-color: #74BD46;
    border: 1.8px solid #d3d3d3; /* cinza claro */
    border-radius: 10px; /* cantos arredondados */
    font-size: 16px;
    font-family: 'Aoboshi One', sans-serif;
    color: #093A21; /* verde escuro do tema */
    outline: none; /* remove o contorno padrão */

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* sombra leve */
    transition: all 0.4s ease; /* animação suave */
}

.grid-2col input:focus {
    border-color: rgba(43, 85, 64, 1); /* verde escuro do logo */
    box-shadow: 0 4px 8px rgba(43, 85, 64, 0.25);

}

/* placeholder (escrita do input)*/
.grid-2col input::placeholder {
    color: #FFFFFF; /* cinza suave */
    font-family: 'Aoboshi One', sans-serif;
    
}

.btn-login {
    position: absolute;
    margin-left: 60px;
    width: 205px;
    height: 50px;
    margin-top: 20px;
    background-color: #568A35;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.btn-login button{
    color: #CCE7BB;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Segoe UI", Tahoma, Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
}

/* ...existing code... */
.form-actions {
    grid-column: span 2;
    /* ocupa as 2 colunas */
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.olho{
    position: absolute;
    top: 360px;
    left: 875px;
}
.olho button{
    background: none;
    border: none;
    cursor: pointer;
}
.olho img{
    width: 30px;
    height: 30px;
}


.recsenha{
    position: absolute;
    margin-left: 280px;
    margin-top: 33px;
    font-family: 'Aoboshi One', sans-serif;
    font-size: 15px;
}
.recsenha a{
    color: #74BD46;
}

.cadastro{
    position: relative;
}
.cadastro-button{
    position: absolute;

}
.cadastro-button button{

    position: absolute;
    margin-left: 230px;
    width: 180px;
    height: 50px;
    margin-top: 90px;
    background-color: #568A35;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    border: none;

}
.cadastro-button label{
    position: relative;
    font-family: 'Aoboshi One', sans-serif;
    color: #CCE7BB;
    height: 100%;
    background: none;
    font-size: 24px;
    cursor: pointer;
}
.cadastro label{
    position: absolute;
    margin-top: 100px;
    font-family: 'Aoboshi One', sans-serif;
    font-size: 18px;
    margin-left: -170px;
}
.cadastro-label{
    
    position: absolute;
}



.seta-voltar {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 25px;
    height: 25px;
    border-left: 6px solid #f5c000;
    border-bottom: 6px solid #f5c000;
    transform: rotate(45deg);
    cursor: pointer;
}