<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração</title>
    <link rel="stylesheet" href="/public/css/administracao.css">
</head>
<body>
    
    <div class="cabecalho"> 
        <div class="seta"><a href="#"><button><img src="/public/img/seta.png" alt="voltar"></a></button></div>
             <div class="bagulhovermelho"><img src="/public/img/bagulhovermelho.png" alt="adm"></div>
              <label>Painel de Administração</label>
               <div class="add"><button><a href="#">+ Adicionar Produto</a></button></div>
    </div>


<div class="container1">

<div class="ttlprdt">
     <label>Total de Produtos</label>
     <div class="nttlprdt" id="totalprdt"><h2>{{ total produtos }}</h2></div>
</div>

<div class="ttlusers">
     <label>Total de Usuários</label>
     <div class="nttlusers" id="totalusers"><h2>{{ total usuarios }}</h2></div>
</div>

<div class="ttlpdd">
     <label>Total de Pedidos</label>
     <div class="nttlpdd" id="totalpdd"><h2>{{ total pedidos }}</h2></div>
</div>

<div class="receitattl"> 
    <label>Receita total</label>
    <div class="nreceitattl"><h2>{{ receita total }}</h2></div>
</div>

</div>

<div class="container2">



    <div class="acrapidas">
        <h3>Ações Rápidas</h3>
        <div class="acgrid">

        <div class="acitem">
            <h4>Adicionar Produto</h4>
            <label>Cadastrar novo item</label>
        </div>

        <div class="acitem">
            <h4>Ver loja</h4>
            <label>Visualizar como cliente</label>
        </div>

        <div class="acitem">
            <h4>Gerencia Usuários</h4>
            <label>Ver clientes cadastrados</label>
        </div>

        <div class="acitem">
            <h4>Ver Pedidos</h4>
            <label>Gerenciar vendas</label>
        </div>



        </div>
    </div>


    <div class="pddrecentes">
        <h3>Pedidos Recentes</h3>
    </div>

</div>

<div class="performace">
    <label>Métricas de Performace</label>
    <div class="crescimento"><label>Crescimento</label></div>
    <div class="estoque"><label>Estoque</label></div>
    <div class="receita"><label>Receita</label></div>
</div>


</body>
</html>