<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="../Css/carrinho.css">
    <script src="/public/script/carrinho.js"></script>

    <link rel="stylesheet" href="/public/css/carrinho.css">
</head>

<body>

    <!--Pesquisa e menu-->
    <div class="TopoInfo">

         <!--redireciona pra pag inicial-->
         <div class="LogoPag">
            <a href="#" class="Logosid">
            <span class="logo"><img src="/public/img/Logo.svg"></span> </a>
         </div>

        <div class="pesquisar">
            <input type="text" class="txtPesquisar">
            <span class="lupa"><img src="/public/img/lupa.png"></span>
        </div>

        <nav class="menu">
            <a href="#" class="BtnMenu P">Perfil
                <span class="icon"><img src="/public/img/Usuario.png"></span> </a>

            <a href="#" class="BtnMenu F">Favoritos
                <span class="icon"><img src="/public/img/Favoritos.png"></span> </a>

            <a href="#" class="BtnMenu E">Entrega
                <span class="icon"><img src="/public/img/Entrega.png"></span> </a>

            <a href="#" class="BtnMenu C">Carrinho
                <span class="icon"><img src="/public/img/Carrinho.png"></span> </a>
        </nav>
    </div>

    <!--Seta da navegação-->
    <div class="Setinha">
        <a href="#">
            <img src="/public/img/Seta.png" class="SetaPag"></a>
    </div>

    <form method="POST" action="/finalizarCompra">

        <!--{% for produto in unico %} (comentado para não quebrar o css, quando for utilizalo pode descomentar e se precisar colocar os valores necessarios!)-->

        <div class="CarrinhoResumo">

            <div class="Carrinho">

                <div class="tabela titulos">
                    <h1>SEU CARRINHO</h1>
                    <p>total de produtos: {{produto.total}}</p>
                </div>
                <hr class="divisor">

                <div class="produto">
                    <div class="produto-info">
                        <img src="{{ produto.foto1 }}" class="produto-img">

                        <div class="produto-detalhes">
                            <h3 class="produto-nome">Nome:{{ produto.nome }}</h3>
                            <p class="produto-preco">Preço: <span>R$ {{ produto.valor }}</span></p>
                            <span class="produto-desconto">Desconto:{{ produto.porcentagem }}</span>
                        </div>
                    </div>

                    <div class="acao-compra">
                        <div class="quantidade">
                            <button class="menos">-</button>
                            <input type="text" min="1" value="1" class="QTDE" readonly>
                            <button class="mais">+</button>
                        </div>

                        <div class="btnCarrinho">
                            <button class="remover">Remover</button>
                            <button class="favoritar">Favoritar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--{% endfor %}
        {% for Carrinho in informações %}-->

            <div class="Resumo">

                <div class="tabela2 titulos">
                    <h1>RESUMO</h1>
                    <p><!--estimativa de entrega--> {{ carrinho.tempo }}</p>
                </div>
                <hr class="divisor">

                <div class="Endereço">
                    <img src="/public/img/Local.png" alt="Localização">
                    <span>Endereço: {{ carrinho.endereco }}</span>
                </div>

                <p class="linha">Subtotal: <i class="traco"></i> <span> R${{ carrinho.subtotal }}</span></p>
                <p class="linha">Desconto: <i class="traco"></i> <span> R${{ carrinho.desconto }}</span></p>
                <p class="linha">Taxa de entrega: <i class="traco"></i> <span> R${{ carrinho.txEntrega }}</span></p>
                <hr class="divisor">
                <p class="linha total">TOTAL: <span> R${{ carrinho.total }} </span></p>
                <!--talvez uma variavel com a soma dos valores-->

                <div class="btnCarrinho">
                    <button type="submit">Finalizar Compra</button>
                    <button type="button">Adicionar cupom</button>
                </div>
            </div>
            <!--{% endfor %}-->

        </div>
    </form>

    &copy Sid's-Mart 2025
</body>

</html>