<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <script src="/public/script/carrinho.js"></script>

    <link rel="stylesheet" href="/public/css/carrinho.css">
</head>

<body>

    <!--Pesquisa e menu-->
    <header class="TopoInfo">

        <!--redireciona pra pag inicial-->
        <div class="LogoPag">
            <a href="#" class="Logosid">
                <span class="logo"><img src="/public/img/Logo.svg"></span> </a>
        </div>

        <div class="pesquisar">
            <input type="text" class="txtPesquisar">
            <span class="lupa"><img src="/public/img/lupa.png"></span>
        </div>

        <nav class="menu">
            <a href="#" class="BtnMenu P">Perfil
                <span class="icon"><img src="/public/img/Usuario.png"></span> </a>

            <a href="#" class="BtnMenu F">Favoritos
                <span class="icon"><img src="/public/img/Favoritos.png"></span> </a>

            <a href="#" class="BtnMenu E">Entrega
                <span class="icon"><img src="/public/img/Entrega.png"></span> </a>

            <a href="#" class="BtnMenu C">Carrinho
                <span class="icon"><img src="/public/img/Carrinho.png"></span> </a>
        </nav>
    </header>

    <!--Seta da navegação-->
    <div class="Setinha">
        <a href="#">
            <img src="/public/img/SetaAmarela.png" class="SetaPag"></a>
    </div>

    
    <form method="POST" action="/finalizarCompra">

        <!--{% for produto in unico %} (comentado para não quebrar o css, quando for utilizalo pode descomentar e se precisar colocar os valores necessarios!)-->

        <div class="CarrinhoResumo">

            <div class="Carrinho">

                <div class="tabela titulos">
                    <h1>SEU CARRINHO</h1>
                    <p>total de produtos: {{carrinho|length}}</p>
                </div>
                <hr class="divisor">

                 {% for produto in carrinho %}

   <form action="/carrinho/add" method="POST" class="form-produto">
    <input type="hidden" name="product_id" value="{{ produto.id }}">
    <input type="hidden" name="nome" value="{{ produto.nome }}">
    <input type="hidden" name="valor" value="{{ produto.valor }}">
    <input type="hidden" name="foto1" value="{{ produto.foto1 }}">
    <input type="hidden" class="QTDE" name="QTDE" value="{{ produto.QTDE }}">

                <div class="produto">

                    <label class="selecionar">
                        <input type="checkbox" class="fav-checkbox">
                        <span class="icon"></span>
                    </label>

                    <div class="produto-info">
                        <img src="{{ produto.foto1 }}" class="produto-img">

                        <div class="produto-detalhes">
                            <h3 class="produto-nome">Nome:{{ produto.nome }}</h3>
                            <p class="produto-preco">Preço: <span>R$ {{ produto.valor }}</span></p>
                            <span class="produto-desconto">Desconto:{{ produto.porcentagem }}</span>
                        </div>
                    </div>

                    <div class="acao-compra">
                        <div class="quantidade">
                            <button type="button" class="menos">-</button>
                            <input type="text" min="1" value="{{ produto.QTDE }}" class="qtde" readonly>
                            <button type="button" class="mais">+</button>
                        </div>

                        <div class="btnCarrinho">
                            <button class="remover" type="submit" formaction="/carrinho/remove">Remover</button>
                            <button class="favoritar" type="submit" formaction="/favoritos/add">Favoritar</button>
                        </div>
                    </div>
                </div>
                </form>

            {% endfor %}
            </div>


            <div class="Resumo">

                <div class="tabela2 titulos">
                    <h1>RESUMO</h1>
                    <p><!--estimativa de entrega--> {{ resumo.tempo }}</p>
                </div>
                <hr class="divisor">

                <div class="Endereço">
                    <img src="/public/img/Local.png" alt="Localização">
                    <span>Endereço: {{ resumo.endereco }}</span>
                </div>

                <p class="linha">Subtotal: <i class="traco"></i> <span> R${{ carrinho.subtotal }}</span></p>
                <p class="linha">Desconto: <i class="traco"></i> <span> R${{ carrinho.desconto }}</span></p>
                <p class="linha">Taxa de entrega: <i class="traco"></i> <span> R${{ carrinho.txEntrega }}</span></p>
                <p class="linha">Itens selecionados: <i class="traco"></i> <span> R${{ carrinho.itens }}</span></p>
                <hr class="divisor">
                <p class="linha total">TOTAL: <span> R${{ resumo.total }} </span></p>
                <!--talvez uma variavel com a soma dos valores-->

                <div class="btnCarrinho">
                    <button type="submit">Finalizar Compra</button>
                    <button type="button">Adicionar cupom</button>
                </div>
            </div>
            <!--{% endfor %}-->

        </div>
    </form>

    <!--Rodapé-->
    <footer class="Rodape">

        <div class="LogonoRodape">
            <div class="rodape-Logo">
                <img src="/public/img/Logo.svg" />
            </div>

            <!-- centro: texto legal / informações -->
            <div class="rodapeTexto">
                <p class="rodapetitulo">© Sid's-Mart 2025 &nbsp; Mercado - Etec Jaraguá</p>
                <p class="rodapeInfo"> • Endereço: R. Jairo de Almeida Machado, 401 - Jaraguá, São Paulo - SP, 02998-060
                </p>
                <p class="rodapeInfo"> •Instagram: @developers._</p>
                <p class="rodapeInfo"> • O melhor curso da Etec Jaraguá | Desenvolvimento de Sistemas</p>
            </div>
        </div>

    </footer>
    &copy Sid's-Mart 2025
</body>

</html>