<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido único</title>
    <script src="/public/script/unico.js"></script>
    <link rel="stylesheet" href="/public/css/unico.css">
</head>

<body>

    <!--Pesquisa e menu-->
    <header class="TopoInfo">

        <!--redireciona pra pag inicial-->
        <div class="LogoPag">
            <a href="#" class="Logosid">
                <span class="logo"><img src="/public/img/Logo.svg"></span> </a>
        </div>

        <div class="pesquisar">
            <input type="text" class="txtPesquisar">
            <span class="lupa"><img src="/public/img/lupa.png"></span>
        </div>

        <nav class="menu">
            <a href="#" class="BtnMenu P">Perfil
                <span class="icon"><img src="/public/img/Usuario.png"></span> </a>

            <a href="#" class="BtnMenu F">Favoritos
                <span class="icon"><img src="/public/img/Favoritos.png"></span> </a>

            <a href="#" class="BtnMenu E">Entrega
                <span class="icon"><img src="/public/img/Entrega.png"></span> </a>

            <a href="#" class="BtnMenu C">Carrinho
                <span class="icon"><img src="/public/img/Carrinho.png"></span> </a>
        </nav>
    </header>

    <!--Seta da navegação-->
    <div class="Setinha">
        <a href="#">
            <img src="/public/img/SetaAmarela.png" class="SetaPag"></a>
    </div>

    <!--{% for produto in unico %} (comentado para não quebrar o css, quando for utilizalo pode descomentar e se precisar colocar os valores necessarios!)-->
    <!--pegar o nome, imagem, preço e frete do produto no php-->

    <div class="Corpo">

        <!--foto do produto-->
        <div class="fotoProduto">
            <img src="{{ produto.foto }}">
        </div>

        <!--Sobre a compra-->
        <div class="ProdutoUni">

            <p class="Nm">Nome: {{ produto.nome }}</p>
            <div class="info-preco">
                <p class="Prc">Preço: {{ produto.preco }}</p>
                <p class="Frt">Frete: {{ produto.frete }}</p>
            </div>

            <div class="acao-compra">

                <button class="Comprar">Comprar</button>

                <div class="quantidade">
                    <button class="menos">-</button>
                    <input type="text" min="1" value="1" class="QTDE" readonly>
                    <button class="mais">+</button>
                </div>

                <!--Adicionar ao carrinho e favoritos-->
                <nav class="carrinho-favorito">
                    <button class="BtnFavorito">
                        <span class="adicionar"><img src="/public/img/Star.png"></span> </button>

                    <button href="#" class="BtnCarrinho">
                        <span class="adicionar"><img src="/public/img/Carrinhozinho.png"></span> </button>

            </div>
        </div>
    </div>

    <!--{% endfor %}-->

    <!--Descrição do Produto-->
    <!--{% for produto in descricao %}-->
    <div class="InfoProduto">
        <p>Detalhes: {{ produto.detalhes }}</p> <!--ex:categoria, tipo de envio, etc-->
        <p>Descrição: {{ produto.descricao }}</p> <!--ex:tamanho, material, qtde, etc-->
        <p>Validade: {{ produto.validade }}</p> <!--dependendo do produto não precisa-->
    </div>
    <!--{% endfor %}-->

    <!--Rodapé-->
    <footer class="Rodape">

        <div class="LogonoRodape">
            <div class="rodape-Logo">
                <img src="/public/img/Logo.svg" />
            </div>

            <!-- centro: texto legal / informações -->
            <div class="rodapeTexto">
                <p class="rodapetitulo">© Sid's-Mart 2025 &nbsp; Mercado - Etec Jaraguá</p>
                <p class="rodapeInfo"> • Endereço: R. Jairo de Almeida Machado, 401 - Jaraguá, São Paulo - SP, 02998-060
                </p>
                <p class="rodapeInfo"> •Instagram: @developers._</p>
                <p class="rodapeInfo"> • O melhor curso da Etec Jaraguá | Desenvolvimento de Sistemas</p>
            </div>
        </div>

    </footer>

</body>

</html>